.left_menu_title{
  justify-content: center;
}
.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.menu_btn_focus{
  border: none;
}

.menu_btn_focus:hover,
.menu_btn_focus:focus{
  font-weight: bolder;
  border: none;
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.menu_btn_focus{
  font-size: 18px;
}

li{
  font-size: 16px;
}