.button_done:hover, .button_done:focus, .button_done:active{
  background-color: #1a5e51;
  border-color: #1a5e51;
}

.button_cancel{
  color: #fff;
}

.button_cancel:hover, .button_cancel:focus, .button_cancel:active{
  color: #fff;
}