<div class="modal fade model_user_counselor" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true" data-controller="modal" data-modal-target="modal">
  <div class="modal-dialog modal-lg">
    <%= turbo_frame_tag "modal_for_counselor" %>
  </div>
</div>
<%= turbo_frame_tag "close_model_counselor" %>
