<%= turbo_frame_tag "modal_for_counselor" do  %>
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel1">New Counselor</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <%= render "admins/counselors/partials/form", counselor: @counselor %>
    </div>
  </div>
<% end %>
