<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom color_header">
    <div class="container-fluid">
        <button class="btn" id="clickopen_nav" onclick="CloseMenu()" >
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item active logout_admin">
                    <% if current_admin %>
                        <%= current_admin.email%>
                    <% end %>
                </li>
                <li class="nav-item logout_admin">
                    <% if current_admin %>
                        <%= link_to destroy_admin_session_path, method: :delete, class: 'color_sign_out' do%>
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <% end %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<%= javascript_include_tag 'admins/close_menu' %>
