.list_bookmark {
    .card {
        height: 47.2rem;
        width: 100%;
        .card-body {

        }
    }
    .podcast {
        .image {
            width: 5rem;
            height: 5rem;
        }
    }
}